.nav{
    background-color: #72C079;
    height: 10dvh;
    padding: 1dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100%;
    height: 100%;
}

#a_logo{
    width: 10%;
    height: 10%;
}
#footer{
    background-color: #72C079;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
}

button{
    width: 200%;
    height: 71px;
    border-radius: 55.26px;
    background-color: #8ADF58;
    box-shadow: 5.526px 5.526px 4.421px 0px #437E21;
}