.nav{
    background-color: #72C079;
    width: 100%;
    height: 10dvh;
    padding: 1dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
}

#logo_img{
    width: 100%;
    height:10%;
}
.logo{
    width: 15%;
}

#footer{
    background-color: #72C079;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn{
    width: 100%;
    height: 70px;
    border-radius: 55.26px;
    background-color: #8ADF58 !important;
    box-shadow: 5.526px 5.526px 4.421px 0px #437E21;
    border: none;
    cursor: pointer;

    text-align: center;
    font-size: 33px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
    transition-duration: 0.5s;
}
.btn:hover, .btn:focus{
    background-color: #dfc458 !important;
}  

#timeline, #jurassic{
    width: 20%;
}
#clock{
    text-align: center;
    font-size: 33px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
}
#myLinks{
    display: none;
}

@media only screen and (max-width: 600px) {
    .btn{
        display: none;
    }
    .nav{
        justify-content: center;
        flex-wrap: nowrap;
    }
    #myLinks{
        display: block;
    }
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #04AA6D;
        color: white;
      }
}
