.nav{
    background-color: #72C079;
    width: 100%;
    height: 12dvh;
    padding: 1dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
}

#logo_img{
    width: 100%;
    height:10%;
}
.logo{
    width: 15%;
}

#footer{
    background-color: #72C079;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn{
    width: 100%;
    height: 70px;
    border-radius: 55.26px;
    background-color: #8ADF58 !important;
    box-shadow: 5.526px 5.526px 4.421px 0px #437E21;
    border: none;
    cursor: pointer;

    text-align: center;
    font-size: 33px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
    transition-duration: 0.5s;
}
.btn:hover .btn:focus{
    background-color: #9c72c0 !important;
}  

#timeline, #jurassic{
    width: 20%;
}
#clock{
    text-align: center;
    font-size: 33px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
}
